:root {
  --blue:#b6ccfe;
  --lightblue: #ccdbfd;
  --darkblue: #abc4ff;
  --anotherblue: #c1d3fe;
  --primary:  var(--blue);
  --secondary: var(--lightblue);
  --tertiary: var(--darkblue);
  --quaternary: var(--anotherblue);

}

body {
  background-color: var(--primary);
  text-align: center;
}

.display-card {
    width: 23%;
    background-color: #b7e4c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    margin: 20px 15px;
}

.display {
display: flex;
flex-wrap: wrap;
width: 92vw;
margin: 1rem auto;
align-items: center;
justify-content: center;
}